<!DOCTYPE html>
{% load static %}
<html >
  <head>
    <meta charset="UTF-8">
    <title>homeStruction - Almost Professional Home Automation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" href="{% static "project/assets/ico/favicon.png" %}">
 
	<link rel='stylesheet prefetch' href='{% static "project/googlefonts/open_sans.css" %}'>

	<link rel="stylesheet" href="{% static "project/assets/css/style.css" %}">
		 <!-- Bootstrap core CSS -->
		 <link href="{% static "project/assets/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link href="{% static "project/assets/css/main.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "project/assets/css/font-awesome.min.css" %}">

	<script src="{% static "project/assets/js/jquery.min.js" %}"></script>
	<script src="{% static "project/assets/js/modernizr.custom.js" %}"></script>
	
	<link href="{% static "project/googlefonts/oswald.css" %}" rel='stylesheet' type='text/css'>
	<link href="{% static "project/googlefonts/eb_garabond.css" %}" rel='stylesheet' type='text/css'>


  </head>

  <body> 
   <nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="signin.html">More</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="#about" class="smoothScroll">About</a>
			<a href="#contact" class="smoothScroll">Contact</a>
		</div>
		
		
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>

    <div class="cont">
  <div class="demo">
    <div class="login">
		<div class="image"><img src="{% static "project/assets/img/haz3.png" %}">
	   </div><br>
	  <h4 style="margin-top:170px">Welcome (back), Buddy!</h4>
	  <div >
		 
			{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<p  class="formaterror" style="color:#47d1d1; margin-top:20px;margin-right:auto; margin-left:auto; text-align:center; font-size:17px; font-family:'Oswald', sans-serif">
			    {{ error }}
			</p>	
			{% endfor %}
			{% endif %}

		  	{{ form.username.errors }}
   			{{ form.password.errors }}
	</div>
	  <form class="login__form" action="{{ app_path }}" method="post" id="login-form" style="margin-top:50px;">{% csrf_token %}
        <div class="login__row">
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
		  <input autofocus="" class="login__input name" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required />
        </div>
        <div class="login__row">
          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
		  <input id="id_password" name="password" type="password" required  class="login__input pass" placeholder="Password"/>
        </div>
    	<input type="hidden" name="next" value="{{ next }}" />
		<input type="submit" value="Log in" style="font-family:'Oswald',sans-serif; color:white; width:80px;height:40px; margin-top:20px; margin-bottom:10px; background:#196666;border-radius:5px"/>
        <p class="login__signup">Forgot password? &nbsp;<a href="signup.html">Click here</a></p>
      </form>

    </div>
 
  </div>
  
</div>
</div>
<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>ABOUT US</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<!-- INTRO INFORMATIO-->
				<div class="col-lg-6 col-lg-offset-3">
					<p>Our team is composed of four 20-year-old computer science students who have the passion of turning great ideas into reality.</p>
					
					<p>Always aiming high, we try to make positive changes in the world.</p>
				</div>								
			</div>
		</div><!-- /container -->
	</div><!-- /f -->

	<!-- ========== CONTACT SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				
			</div>
		</div>
	</div>

		<script src="{% static "project/assetsjs/index.js" %}"></script>
		<script src="{% static "project/assets/js/classie.js" %}"></script>
		<script src="{% static "project/assets/js/bootstrap.min.js" %}"></script>
		<script src="{% static "project/assets/js/smoothscroll.js" %}"></script>
		<script src="{% static "project/assets/js/main.js" %}"></script>

  </body>
</html>
