{% extends 'project/base.html' %}
{% block content %}
<div id="lght">
			
			  <div id="txtsw">
				<h3>The alarm is : </h3><h4>ON/OFF.</h4>
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
					<label class="onoffswitch-label" for="myonoffswitch">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			  </div>
			  <div id="settime">
				<form>
					Select a time:
					<input type="time" name="usr_time">
					<input type="submit" class="set" value="Set">
				</form>
			  </div>
			  
			  
			  <h3>Repeat:</h3>
			  <div id="repeat">
			  <form>
					<input type="radio" name="repetition" value="never"> Never<br>
					<input type="radio" name="repetition" value="monday"> Monday<br>
					<input type="radio" name="repetition" value="tuesday"> Tuesday <br>
					<input type="radio" name="repetition" value="wednesday"> Wednesday <br>
					<input type="radio" name="repetition" value="thursday"> Thursday<br>
					<input type="radio" name="repetition" value="friday"> Friday<br>
					<input type="radio" name="repetition" value="saturday"> Saturday<br>
					<input type="radio" name="repetition" value="sunday"> Sunday<br>
					<input type="radio" name="repetition" value="daily"> Daily<br>
					<input type="radio" name="repetition" value="weekly"> Weekly<br>
					<input type="radio" name="repetition" value="monthly"> Monthly<br>
					<input type="submit" class="set" value="Set">
			  </form>
			 </div>	
</div>
{% endblock content %}

