<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>homeStruction - Almost Professional Home Automation</title>
        <!-- Meta -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="home automation, homeStruction, Raspberry Pi">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="assets/ico/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static "project/assets/css/bootstrap.css"%}" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link href="{% static "project/assets/css/main.css"%}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "project/assets/css/font-awesome.min.css"%}">

	<script src="{% static "project/assets/js/jquery.min.js"%}"></script>
        <!-- Favicon -->
		<link href="{% static "project/favicon.ico"%}" rel="shortcut icon">
        <!-- Bootstrap Core CSS -->
		<link rel="stylesheet" href="{% static "project/fto/assets/css/bootstrap.css"%}" rel="stylesheet">
        <!-- Template CSS -->
		<link rel="stylesheet" href="{% static "project/fto/assets/css/animate.css"%}" rel="stylesheet">
		<link rel="stylesheet" href="{% static "project/fto/assets/css/font-awesome.css"%}" rel="stylesheet">
		<link rel="stylesheet" href="{% static "project/fto/assets/css/nexus.css"%}" rel="stylesheet">
		<link rel="stylesheet" href="{% static "project/fto/assets/css/responsive.css"%}" rel="stylesheet">
		<link rel="stylesheet" href="{% static "project/fto/assets/css/custom.css"%}" rel="stylesheet">
        <!-- Google Fonts-->
		<link href="{% static "project/googlefonts/eb_garabond.css"%}" rel="stylesheet" type="text/css">
		<link href="{% static "project/googlefonts/oswald.css"%}" type="text/css" rel="stylesheet">
		<link href="{% static "project/googlefonts/pt_sans.css"%}" rel="stylesheet" type="text/css">
		<link href='{% static "project/googlefonts/roboto_condensed.css" %}' rel='stylesheet' type='text/css'>
		<link href='{% static "project/googlefonts/roboto.css" %}' rel='stylesheet' type='text/css'>
		<!-- Alarm - clock -->
		<script src="{% static "project/extra/js/jquery-1.12.4.js"%}"></script>
        

        <link rel="stylesheet" href="{% static "project/extra/css/wickedpicker.css"%}" rel="stylesheet">
        <script type="text/javascript" src="{% static "project/extra/js/wickedpicker.js"%}"></script>
		<!-- Alarm - repeat part -->
		 
		
		<link rel="stylesheet" href="{% static "project/extra/css/jquery.mobile-1.4.5.min.css" %}">
    </head>
	<!-- ========== HEADER =========== -->
	<body>
	  <div id="basic">
	  
		<div id="hornav" class="container no-padding">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="text-center visible-lg">
                            <ul id="hornavmenu" class="nav navbar-nav">
                                <li>
									<a href="{% url "project:home" %}" class="fa-home">Home</a>
                                </li>
                                <li>
									<a href="{% url "project:doorwind" %}" class="fa-lock">Doors and Windows</a>
                                    
                                </li>
                                <li>
									<a href="{% url "project:mult" %}" class="fa-music">Multimedia</a>
                                    
								</li>	
                                <li>
									<a href="{% url "project:light" %}" class="fa-lightbulb-o">Light</a>
                                    
                                </li>
                                <li>
									<a href="{% url "project:temp" %}" class="fa-sun-o">Temperature</a>
                                    
                                </li>
                                <li>
									<a href="{% url "project:alarm" %}" class="fa-bell">Alarm</a>
                                </li>
								<li>
									<a href="{% url "project:live" %}" class="fa-desktop">Live Stream</a>
								</li>
								<li>
									<span class="fa-facebook-square">Contact</span>
									<ul>
										<li>
											<a href="face1">Ács Dávid</a>
										</li>
										<li>
											<a href="face2">Albert Erika-Timea</a>
										</li>
										<li>
											<a href="face3">Nagy Lilla</a>
										</li>
										<li>
											<a href="face4">Szabó Bálint</a>
										</li>
								</li>
								
								</ul>
								<li>
									<a href="{% url "project: welcome2" %}" class="fa-power off"></a>
								</li>
                        </div>
                    </div>
                </div>
            </div>
	      </div>
		  <!-- CONTENT -->		 
		{% block content %}
	  	{% endblock content %}
		  <!-- ========== ABOUT SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>ABOUT US</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<!-- INTRO INFORMATIO-->
				<div class="col-lg-6 col-lg-offset-3">
					<p>Our team is composed of four 20-year-old computer science students who have the passion of turning great ideas into reality.</p>
					
					<p>Always aiming high, we try to make positive changes in the world.</p>
				</div>								
			</div>
		</div><!-- /container -->
	</div><!-- /f -->

	<!-- ========== CONTACT SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>CONTACT US</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p>Some Avenue, 987<br/>Cluj-Napoca, Romania<br/>+40700000000</p>
					<p>iam@awesomemail.com</p>
				</div>
			</div>
		</div>
	</div>

		  
	  <!-- JS -->
			<script src="{% static "project/assets/js/classie.js"%}"></script>
			<script src="{% static "project/assets/js/bootstrap.min.js"%}"></script>
			<script src="{% static "project/assets/js/smoothscroll.js"%}"></script>
			<script src="{% static "project/assets/js/main.js"%}"></script>
			<script type="text/javascript" src="{% static "project/extra/js/wickedpicker.js"%}"></script>
			<script type="text/javascript" src="{% static "project/fto/assets/js/jquery.min.js"%}" type="text/javascript"></script>
			<script type="text/javascript" src="{% static "project/fto/assets/js/bootstrap.min.js"%}" type="text/javascript"></script>
			<script type="text/javascript" src="{% static "project/fto/assets/js/scripts.js"%}"></script>
            <!-- Isotope - Portfolio Sorting -->
			<script type="text/javascript" src="{% static "project/fto/assets/js/jquery.isotope.js"%}" type="text/javascript"></script>
            <!-- Mobile Menu - Slicknav -->
			<script type="text/javascript" src="{% static "project/fto/assets/js/jquery.slicknav.js"%}" type="text/javascript"></script>
            <!-- Animate on Scroll-->
			<script type="text/javascript" src="{% static "project/fto/assets/js/jquery.visible.js"%}" charset="utf-8"></script>
            <!-- Sticky Div -->
			<script type="text/javascript" src="{% static "project/fto/assets/js/jquery.sticky.js"%}" charset="utf-8"></script>
            <!-- Slimbox2-->
			<script type="text/javascript" src="{% static "project/fto/assets/js/slimbox2.js"%}" charset="utf-8"></script>
            <!-- Modernizr -->
			<script src="{% static "project/fto/assets/js/modernizr.custom.js"%}" type="text/javascript"></script>
            <!-- End JS -->
    </body>
</html>	
