{% extends 'project/base.html %}
{% block content}
<!-- actual content -->
            <div id="content">
                <div class="container no-padding">
                    <div class="row">
                        <!-- Carousel Slideshow -->
                        <div id="carousel-example" class="carousel slide" data-ride="carousel">
                            <!-- Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example" data-slide-to="1"></li>
                                <li data-target="#carousel-example" data-slide-to="2"></li>
								<li data-target="#carousel-example" data-slide-to="3"></li>
								<li data-target="#carousel-example" data-slide-to="4"></li>
                            </ol>
                            <div class="clearfix"></div>
                            <!-- End Carousel Indicators -->
							<div id="title">
								<h5>Recent events</h5>
								<h6>Hey Buddy! A lot of stuff is going on in your room, but this happened lately (that we could measure).</h6>
							</div>
                            <!-- Carousel Images -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="fto/assets/img/slideshow/graph.jpg">
                                </div>
                                <div class="item">
                                    <img src="fto/assets/img/slideshow/graph.jpg">
                                </div>
                                <div class="item">
                                    <img src="fto/assets/img/slideshow/graph.jpg">
                                </div>
                                <div class="item">
                                    <img src="fto/assets/img/slideshow/graph.jpg">
                                </div>
								<div class="item">
									<img src="assets/img/haz3.png">
								</div>
                            </div>
                            <!-- End Carousel Images -->
                            <!-- Carousel Controls -->
                            <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <!-- End Carousel Controls -->
                        </div>
                        <!-- End Carousel Slideshow -->
                    </div>
					</div>
					
              
            </div>
{% endblock content %}
