{% extends 'project/base.html' %}
{% load static %}
{% block content %}
<!-- actual content -->
            <div id="content" style="min-height:100vh">
                <div class="container no-padding">

                    <div class="row">

                        <!-- Carousel Slideshow -->
                        <div id="carousel-example" class="carousel slide" data-ride="carousel">
                            <!-- Carousel Indicators -->
				<div id="news" style="margin-left:auto; margin-right:auto;width:1100px;padding-left:5px;">
				<div id="news1" style="width:33%;float:left; margin-right:-8px;">
					<div id="data" style="">
						<h6>Humidity:</h6><h5 id="humstat" style=" color:#196666;font-weight:bold;font-family:'Oswald',sans-serif;font-size:23px;margin-top:-54px;padding-left:200px;">34</h5>
					</div>
				</div>
				<div id="news2" style="width:33%; float:left; margin-right:-8px;">
					<div id="data">
						<h6>Luminosity:</h6><h5 id="lightstat" style=" color:#196666;font-weight:bold;font-family:'Oswald',sans-serif;font-size:23px;margin-top:-54px;padding-left:200px;">600</h5>
					</div>
				</div>
				<div id="news3" style="width:34%; float:left">
					<div id="data">
						<h6>Temperature:</h6><h5 id="tempstat" style=" color:#196666;font-weight:bold;font-family:'Oswald',sans-serif;font-size:23px;margin-top:-54px;padding-left:200px;">24 °C</h5>
					</div>
				</div>
				</div>
							<div id="door" name="door" style="width:50%; float:left;">
			  <div id="txtsw" style="width:547px;margin-right:-10px;min-height:105px;" >
				<h5 style="padding-top:35px;">Door: </h5><h6 id="doorstat" style=" color:#196666;font-weight:bold;font-family:'Oswald',sans-serif;font-size:23px;margin-top:-54px;padding-left:200px;">OPEN/CLOSED.</h6>
				<div class="opclswitch" style="margin-left:350px" >
					<input type="checkbox" name="opclswitch" class="opclswitch-checkbox" id="myopclswitch" onclick="myFunction()">
					<label class="opclswitch-label" for="myopclswitch">
						<span class="opclswitch-inner"></span>
						<span class="opclswitch-switch"></span>
					</label>
				</div>

			  </div>
			  </div>
			  <div id="window" name="window" style="width:50%; float:left">

		<div id="txtsw" style="width:503px;min-height:105px;">
			<h5 style="padding-top:35px;">Window: </h5><h6 id="windstat" style=" color:#196666;font-weight:bold;font-family:'Oswald',sans-serif;font-size:23px;margin-top:-54px;padding-left:200px;">OPEN/CLOSED.</h6>

		</div>
		</div>
		<div id="lamps" style="margin-left:auto;margin-right:auto;padding-right:15px;">
		<div id="light1" name="light1" style="width:34%; float:left;">
			  <div id="txtsw" style="width:357px; margin-top:0px; min-height:110px;">
				<h5 style="padding-top:30px;paddin-bottom:20px;">Lamp: </h5><h6 id="lamp1stat" style=" color:#196666;font-weight:bold;font-family:'Oswald',sans-serif;font-size:23px;margin-top:-55px;padding-left:200px;">ON/OFF.</h6>
				<div class="onoffswitch" style="margin-left:auto;margin-right:auto;margin-top:-20px; margin-bottom:10px;">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" onclick="lamp1Func()">
					<label class="onoffswitch-label" for="myonoffswitch">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			  </div>
			</div>


			<div id="light2" name="light2" style="width:33%; float:left;height:30px">
				<div id="txtsw" style="width:345px;margin-top:0px; min-height:110px;">
				<h5 style="padding-top:30px;">Nightlight: </h5><h6 id="lamp2stat" style=" color:#196666;font-weight:bold;font-family:'Oswald',sans-serif;font-size:23px;margin-top:-55px;padding-left:200px;" >ON/OFF.</h6>
				<div class="onoffswitch" style="margin-right:auto;margin-left:auto; margin-top:-20px;margin-bottom:10px" >
					<input type="checkbox" name="onoff2switch" class="onoff2switch-checkbox" id="myonoff2switch" onclick="lamp2Func()">
					<label class="onoff2switch-label" for="myonoff2switch">
						<span class="onoff2switch-inner"></span>
						<span class="onoff2switch-switch"></span>
					</label>
				</div>
			  </div>
			</div>

			<div  id="light3" class="light3" style="width:33%; float:left">
			<div id="txtsw" style="width:345px; margin-top:0px;min-height:110px;">
				<h5 style="padding-top:30px;">Fan: </h5><h6 id="lamp3stat" style=" color:#196666;font-weight:bold;font-family:'Oswald',sans-serif;font-size:23px;margin-top:-55px;padding-left:200px;">ON/OFF.</h6>
				<div class="onoffswitch" style="margin-right:auto;margin-left:auto;margin-top:-20px; margin-bottom:10px; ">
					<input type="checkbox" name="onoff3switch" class="onoff3switch-checkbox" id="myonoff3switch" onclick="lamp3Func()">
					<label class="onoff3switch-label" for="myonoff3switch">
						<span class="onoff3switch-inner"></span>
						<span class="onoff3switch-switch"></span>
					</label>
				</div>

			</div>
			</div>
			</div>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example" data-slide-to="1"></li>
                                <li data-target="#carousel-example" data-slide-to="2"></li>
								<li data-target="#carousel-example" data-slide-to="3"></li>
								<li data-target="#carousel-example" data-slide-to="4"></li>
                            </ol>
                            <div class="clearfix"></div>
                            <!-- End Carousel Indicators -->



                            <!-- Carousel Images -->
                            <div class="carousel-inner" style="margin-top:50px;">
                                <div class="item active">
									<img src="{% static 'project/fto/assets/img/slideshow/graph.jpg' %}">
                                </div>
                                <div class="item">
									<img src="{% static 'project/fto/assets/img/slideshow/graph.jpg' %}">
                                </div>
                                <div class="item">
									<img src="{% static 'project/fto/assets/img/slideshow/graph.jpg' %}">
                                </div>
                                <div class="item">
									<img src="{% static 'project/fto/assets/img/slideshow/graph.jpg' %}">
                                </div>
								<div class="item">
									<img src="{% static 'project/assets/img/haz3.png' %}">
								</div>
                            </div>
                            <!-- End Carousel Images -->
                            <!-- Carousel Controls -->
                            <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <!-- End Carousel Controls -->
                        </div>
                        <!-- End Carousel Slideshow -->
                    </div>
					</div>


            </div>
<script>


function stateToHTML(jsonObj) {
	// generate HTML from JSON object
	
	var myVar = jsonObj['value'];
	var tableState = myVar;
	if(myVar == "opened"){tableState="OPEN";}
	if(myVar == "closed"){tableState = "CLOSED";}
	
	if(myVar == "1on_c" || myVar == "2on_c" || myVar == "3on_c"){tableState = "ON";}
	if(myVar == "1off_c" || myVar == "2off_c" || myVar == "3off_c"){tableState = "OFF";}
	if (myVar == "1off_uc" || myVar == "2off_uc" || myVar == "3off_uc" || myVar == "1on_uc" || myVar == "2on_uc" || myVar == "3on_uc") {tableState = "UNCONF. OP.";}
	
	return tableState;
}
l1status=document.getElementById('lamp1stat');
	l2status=document.getElementById('lamp2stat');
	l3status=document.getElementById('lamp3stat');
	
	var lamp1Id="1on_c";
	var lamp2Id="2on_c";
	var lamp3Id="3on_c";
	lock1button = document.getElementById('myonoffswitch');
	lock2button = document.getElementById('myonoff2switch');
	lock3button = document.getElementById('myonoff3switch');
	buttonJSON('/api/lamp/1',lock1button,lamp1Id);
	buttonJSON('/api/lamp/2',lock2button,lamp2Id);
	buttonJSON('/api/lamp/3',lock3button,lamp3Id);
	
	
	dstatus=document.getElementById('doorstat');
	wstatus=document.getElementById('windstat');
	
	var doorId="dc_c";
	doorlockbutton = document.getElementById('myopclswitch');
	buttonJSON('api/door/',doorlockbutton,doorId);
	
	hstatus=document.getElementById('humstat');

	
	
	lstatus=document.getElementById('lightstat');

	
	
	tstatus=document.getElementById('tempstat');

	
	setInterval(function () {newJSON('/api/lamp/1', stateToHTML, l1status)}, 3000);
	setInterval(function () {newJSON('/api/lamp/2', stateToHTML, l2status)}, 3000);
	setInterval(function () {newJSON('/api/lamp/3', stateToHTML, l3status)}, 3000);
	setInterval(function () {newJSON('/api/window/', stateToHTML, wstatus)}, 1000);
	setInterval(function () {newJSON('/api/door/', stateToHTML, dstatus)}, 1000);
	setInterval(function () {newJSON('/api/temp/', stateToHTML, tstatus)}, 60000);
	setInterval(function () {newJSON('/api/humidity/', stateToHTML, hstatus)}, 60000);
	setInterval(function () {newJSON('/api/light/', stateToHTML, lstatus)}, 60000);
	
</script>			
{% endblock content %}
