{% extends 'project/base.html' %}
{% block content %}
{% load static %}
		  <div id="lght" style="min-height:100vh">
			<h6>The luminosity in your room is:</h6><h5 id="lightstat"></h5>

			<div class="item">
                                    <img src="fto/assets/img/slideshow/graph.jpg">
            </div>
			<div id="mytab" style="width:700px">
	<section>
<div  class="tbl-header" style="background-color: rgba(255,255,255,0.3);">
<table cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th >Luminosity </th>
      <th style="width:320px;padding-left:23px;">Date</th>
      <th style="width:260px;">Time</th>

    </tr>
  </thead>
</table>
</div>
<div  class="tbl-content" style="">
<table cellpadding="0" cellspacing="0" border="0">
  <tbody id="lumintable">
  </tbody>
</table>
</div>
</section>
</div>
		  </div>
<script>
function objectToHTML(jsonObj) {
	// generate HTML from JSON object
	var timeRec= jsonObj['time_recorded'];
	var myDate=timeRec.substring(0,10);
	var myTime=timeRec.substring(11,19);
	var tableRow = '<tr> \n' +
		'<td>' +  jsonObj['value'] + '</td> \n' +
		'<td>' + myDate + '</td> \n' +
		'<td>' +  myTime + '</td> \n' +
		'</tr> \n';
	return tableRow;
}
function stateToHTML(jsonObj) {
	// generate HTML from JSON object

	var myVar = jsonObj['value'];
	var tableState = myVar;
	return tableState;

}
	lstatus=document.getElementById('lightstat');
	newJSON('/api/light/',stateToHTML,lstatus);
    setInterval(function(){newJSON('/api/light/',stateToHTML,lstatus);},18000);
	lumintable = document.getElementById('lumintable');
	getJSON('/api/light/', objectToHTML, lumintable);
    setInterval(function(){getJSON('/api/light/', objectToHTML, lumintable);},18000);
</script>

{% endblock content %}

