{% extends 'project/base.html' %}
{% block content %}
 <div id="multimedia" style="margin-left:auto; margin-right:auto;width:1100px;padding-left:30px;min-height:100vh; margin-bottom:200px">
		  

			<div id="light1" name="light1" style="width:34%; float:left;">
			  <div id="txtsw" style="width:340px">
				<h5>Lamp is : </h5><h6  id="lamp1stat">ON/OFF</h6>
				<div class="onoffswitch" style="margin-left:auto;margin-right:auto;margin-top:25px">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" onclick="lamp1Func()">
					<label class="onoffswitch-label" for="myonoffswitch">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			  </div>	
			</div>
			 
			
			<div id="light2" name="light2" style="width:33%; float:left">
				<div id="txtsw" style="width:340px;">
				<h5>Nightlight is: </h5><h6 id="lamp2stat">ON/OFF</h6>
				<div class="onoffswitch" style="margin-right:auto;margin-left:auto; margin-top:25px" >
					<input type="checkbox" name="onoff2switch" class="onoff2switch-checkbox" id="myonoff2switch" onclick="lamp2Func()">
					<label class="onoff2switch-label" for="myonoff2switch">
						<span class="onoff2switch-inner"></span>
						<span class="onoff2switch-switch"></span>
					</label>
				</div>
			  </div>	
			</div>
			
			<div  id="light3" class="light3" style="width:33%; float:left">
			<div id="txtsw" style="width:340px">
				<h5>Fan is : </h5><h6 id="lamp3stat">ON/OFF</h6>
				<div class="onoffswitch" style="margin-right:auto;margin-left:auto;margin-top:25px; ">
					<input type="checkbox" name="onoff3switch" class="onoff3switch-checkbox" id="myonoff3switch" onclick="lamp3Func()">
					<label class="onoff3switch-label" for="myonoff3switch">
						<span class="onoff3switch-inner"></span>
						<span class="onoff3switch-switch"></span>
					</label>
				</div>
				
			</div>
			</div>
			
			<div id="mytable" style="width:100%; float:left; margin-top:50px;">	  
	<section>
<div  class="tbl-header" style="background-color: rgba(255,255,255,0.3); ">
<table cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th>Operation</th>
      <th style="padding-left:0px; width:520px;">Date</th>
      <th style="padding-left:0px">Time</th>
      
    </tr>
  </thead>
</table>
</div>
<div  class="tbl-content" >
<table cellpadding="0" cellspacing="0" border="0" >
  <tbody id="lamptable">
    
  </tbody>
</table>
</div>
</section>
</div>	
	      
		  
		  
	</div>
	<script>
	function objectToHTML(jsonObj) {
	// generate HTML from JSON object
	var timeRec= jsonObj['time_recorded'];
	var myDate=timeRec.substring(0,10);
	var myTime=timeRec.substring(11,19);
	var myValue=jsonObj['value'];
	var tableVar=myValue;
	if(myValue == "1on_c"){tableVar="Lamp successfully switched on";}
	if(myValue == "1off_c"){tableVar="Lamp successfully switched off";}
	if(myValue == "1on_uc"){tableVar="Could not switch lamp on";}
	if(myValue == "1off_uc"){tableVar="Could not switch lamp off";}
	
	if(myValue == "2on_c"){tableVar="Nightlight successfully switched on";}
	if(myValue == "2off_c"){tableVar="Nighlight successfully switched off";}
	if(myValue == "2on_uc"){tableVar="Could not switch nighlight on";}
	if(myValue == "2off_uc"){tableVar="Could not switch nighlight off";}
	
	if(myValue == "3on_c"){tableVar="Fan successfully switched on";}
	if(myValue == "3off_c"){tableVar="Fan successfully switched off";}
	if(myValue == "3on_uc"){tableVar="Could not switch fan on";}
	if(myValue == "3off_uc"){tableVar="Could not switch fan off";}
	var tableRow = '<tr> \n' +
		'<td>' +  tableVar + '</td> \n' +
		'<td>' + myDate + '</td> \n' +
		'<td>' +  myTime + '</td> \n' +
		'</tr> \n';
	return tableRow;
	
}
function stateToHTML(jsonObj) {
	// generate HTML from JSON object
	
	var myVar = jsonObj['value'];
	var tableState = myVar;
	
	if(myVar == "1on_c" || myVar == "2on_c" || myVar == "3on_c"){tableState = "ON";}
	if(myVar == "1off_c" || myVar == "2off_c" || myVar == "3off_c"){tableState = "OFF";}
	if (myVar == "1off_uc" || myVar == "2off_uc" || myVar == "3off_uc" || myVar == "1on_uc" || myVar == "2on_uc" || myVar == "3on_uc") {tableState = "ERR";}
	return tableState;
	
}
	var l1status=document.getElementById('lamp1stat');
	var l2status=document.getElementById('lamp2stat');
	var l3status=document.getElementById('lamp3stat');
	var lock1button = document.getElementById('myonoffswitch');
	var lock2button = document.getElementById('myonoff2switch');
	var lock3button = document.getElementById('myonoff3switch');
	var lamptable = document.getElementById('lamptable');
	var lamp1Id="1on_c";
	var lamp2Id="2on_c";
	var lamp3Id="3on_c";
	var lamp1_milli;
	var lamp2_milli;
	var lamp3_milli;
	function lamp1Func(){
	if(lamp1button.checked==false) {command("1lampoff")};
    if (lamp1button.checked==true) {command("1lampon");}
	lamp1_milli = (new Date).getTime();
	
	}

	function lamp2Func(){
		if(lamp2button.checked==false) {command("2lampoff")};
		if (lamp2button.checked==true) {command("2lampon");}
		lamp2_milli = (new Date).getTime();
	
	}

	function lamp3Func(){
		if(lamp3button.checked==false) {command("3lampoff")};
		if (lamp3button.checked==true) {command("3lampon");}
		lamp3_milli = (new Date).getTime();

	
	}
	
	newJSON('/api/lamp/1',stateToHTML,l1status);
    newJSON('/api/lamp/2',stateToHTML,l2status);
    newJSON('/api/lamp/3',stateToHTML,l3status);
	getJSON('/api/lamp/1', objectToHTML, lamptable, lock1button, lamp1Id,0);
	getJSON('/api/lamp/2', objectToHTML, lamptable, lock2button, lamp2Id,0);
	getJSON('/api/lamp/3', objectToHTML, lamptable, lock3button, lamp3Id,0);
	setInterval(function(){newJSON('/api/lamp/1',stateToHTML,l1status)},3000);
	setInterval(function(){newJSON('/api/lamp/2',stateToHTML,l2status)},3000);
	setInterval(function(){newJSON('/api/lamp/3',stateToHTML,l3status)},3000);
	setInterval(function(){getJSON('/api/lamp/1', objectToHTML, lamptable, lock1button, lamp1Id,lamp1_milli)},1000);
	setInterval(function(){getJSON('/api/lamp/2', objectToHTML, lamptable, lock2button, lamp2Id,lamp2_milli)},1000);
	setInterval(function(){getJSON('/api/lamp/3', objectToHTML, lamptable, lock3button, lamp3Id,lamp3_milli)},1000);
</script>
		  

{% endblock content %}

