

#mytable table{
  width:100%;
 
  
}
#mytab table{
  width:100%;
 
  
}

.tbl-header{
	padding-top:20px;
	padding-bottom:20px;
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
#mytable th{
padding-left:30px;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}
#multimedia th{
  padding-left:7px;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  width:500px;
}
#multimedia td{
  padding-top: 15px;
  padding-bottom:15px;
  padding-left:10px;
  width:500px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 25px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);

}
#mytab th{
  padding-left:10px;
  
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  width:50px;
  text-transform: uppercase;
 
}
#mytab td{
  padding-top: 15px;
  padding-bottom:15px;
  padding-left:10px;

  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 25px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);

}

#mytable td{
  padding-top: 15px;
  padding-bottom:15px;
  padding-left:10px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 25px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* demo styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
#mytable{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right,#4d4d4d, #169999);
  font-family: 'Oswald', sans-serif;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  margin-bottom:100px;

}
#mytable section{
  margin: 50px;
}
#mytab{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right,#4d4d4d, #169999);
  font-family: 'Oswald', sans-serif;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  margin-bottom:100px;

}
#mytab section{
  margin: 50px;
}

/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}